.bes-container {
    margin-top: 65px;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.bes-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    font-size: 5.25rem;
    font-weight: bold;
    color: #d9d9d9;
}

.bes-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row nowrap;
}

.bes-logos {
    flex: 50%;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bes-list {
    width: 100%;
    height: 100%;
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 30px;
    padding: 4em 2em 2em 18em;
}