.macbookpro-mockup {
    position: relative;
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.macbookpro-mockup-img {
    position: relative;
    width: 700px;
    height: 100%;
}

.macbookpro-mockup img {
    width: 100%;
    height: 100%;
    display: block;
}

.macbook-inside-img {
    z-index: -1;
    position: absolute;
    width: 602px;
    top: 20px;
    left: 49px;
    height: auto;
    overflow: hidden;
}

.macbook-inside-img img {
    padding-bottom: 10rem;
    width: 100%;
    height: auto;
    position: relative;
}