.cs_skillBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.cs_skillBar-logo{
    width: 45px;
    height: 45px;
    margin-right: 1rem;
}

.cs_skillBar-heading {
    width: 115px;
    height: 30px;
    background-color: #999999;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.75rem;
}

.cs_skillBar-logo img {
    width: 100%;
    aspect-ratio: 1 / 1;
}