.slide-container {
    height: 100vh;
    overflow: hidden;
    background-color: #5799b8;
}

.slide {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide.frontend {
    background-color: #5799b8;
}

.slide.backend {
    background-color: #64b07e;
}

.slide.contact {
    background-color: #203162;
}