.fes-container {
    margin-top: 65px;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fes-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.fes-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row nowrap;
}

.fes-logos {
    flex: 40%;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-figma {
    width: 100%;
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-react {
    width: 100%;
    flex: 40%;
    display: flex;

}

.logo-angular {
    width: 100%;
    flex: 35%;
    display: flex;
    justify-content: flex-end;
}

.fes-list {
    width: 100%;
    height: 100%;
    flex: 60%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 30px;
}