.cs_portfolio {
    background-color: #f9f9f9;
    padding-top: 60px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cs_portfolio-heading {
    margin-bottom: 60px;
}

.cs_portfolio_projects {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}