.portfolio-slider {
    margin-top: 65px;
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.portfolio-slider-container {
    display: flex;
    width: 300vw;
    height: 100%;
}

.horizontal-slide {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow, .right-arrow {
    border: unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    font-weight: bolder;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.left-arrow {
    left: 10rem;
}

.right-arrow {
    right: 10rem;
}