.portfolio-slider {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.portfolio-slider-container {
    display: flex;
    width: 300vw;
    height: 100%;
}

.horizontal-slide {
    flex: 0 0 100vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow, .right-arrow {
    border: unset;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 5rem;
    font-weight: bolder;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.left-arrow {
    left: 5rem;
}

.right-arrow {
    right: 5rem;
}

@media (max-width: 900px) {
    .left-arrow {
        top: 50%;
        left: 4rem;
    }

    .right-arrow {
        top: 50%;
        right: 4rem;
    }
}